<!DOCTYPE html>

<html lang="en">

	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1">
	 	<!-- <link rel="stylesheet" type="text/css" href="normalize.css"> -->
	 	<link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
	 	<link rel="stylesheet" type="text/css" href="../stylesheets/style.css">

	  <title>ImJessW</title>
	</head>
	
	<body>
		<div class="navbar">
			<ul class="mainNav">
				<a class="topIJW" href="#section1">{ ImJessW }</a>
				<li><a href="#section4">{ Let's Connect }</a>
				</li>
				<li><a href="#section3">{ Languages, Libraries & Useful Tech  }</a>
				</li>
				<li><a href="#section2">{ About Me }</a>
				</li>
			</ul>
		</div>
		<section id="section1">
			<h1 class="tag_line">Web Developer. Adventurer. <br> Acceptor of Challenges.</h1>
		</section>
		<section id="section2">
			<h3> { About Me } </h3>
			<div class="p75 aboutMe">
				<p> I've always been interested in technology and I'm fueled by the desire to use it in a positive way, whether that's to create new jobs or build the latest greatest socially conscious company. That's why I founded my first startup when I was only 20. It didn't last, but my passion for this business definitely did. Since my first venture, I've put myself on the map by joining several startups across the country. I did that to improve my skills, learn from the best and challenge myself in ways most people never will. I attended RefactorU so I could add Full Stack JavaScript Web Developer  to my resume and right now, my goal is to become a valuable player in the next big thing. I'm open to relocation and I'm ready to work. Let's go.
				</p>
			</div>
		</section>
		<section id="section3">
			<div class="p75">
			<h3> { Languages, Libraries & Useful Tech } </h3>
			<div class="circles">
				<img src="../images/html_circle.png">
				<img src="../images/css_circle.png">
				<img src="../images/js_circle.png">
				<img src="../images/Nodejs_circle.png"><br>
				<img src="../images/jquery_circle.png">
				<img src="../images/mongodb_circle.png">
				<img src="../images/tb_circle.png">
				<img src="../images/github_circle.png">
			</div>
			</div>
		</section>
		<section id="section4">
			<div class="p75">

				<h3> { Let's Connect } </h3>
				<div class="contactMe">
					<!-- github -->
					<a href="http://www.github.com/imjessw">
						<img src="../images/github-256.png">
					</a>

					<!-- angelist -->
					<a href="https://angel.co/jessica-waite">
						<img src="../images/angellist-256.png">
					</a>

					<!-- linkedin -->
					<a href="http://www.linkedin.com/in/jessicalwaite/">
						<img src="../images/linkedin-256.png">
					</a><br>

					<!-- instagram -->
					<a href="http://www.instagram.com/imjessw">
						<img src="../images/instagram-256.png">
					</a>
					<!-- twitter -->
					<a href="http://www.twitter.com/imjessw">
						<img src="../images/twitter-256.png">
					</a>
					<!-- tumblr -->
					<a href="http://imjessw.tumblr.com/">
						<img src="../images/tumblr-256.png">
					</a>
					<!-- wordpress -->
					<a href="http://imjessw.wordpress.com">
						<img src="../images/wordpress-256.png">
					</a>





				</div>

			</div>
		</section>
		<section class="section5">
			<div class="p75">
				<!-- questions button -->

				<button type="button" id="QButton" class="btn btn-default btn-lg">Questions? Email me!</button>

					<div class="alert alert-danger" id="badInfo">Oh no! Please enter all information.</div>
					<div class="alert alert-danger" id="thankYou">Thank you! I look forward to speaking with you soon.</div>

					<!-- Form -->

				<form id="formInfo" role="form">
					  <div class="form-group">
					    <input type="firstName" class="form-control" id="first" placeholder="First Name">
					  </div>
					  <div class="form-group">
					    <input type="lastName" class="form-control" id="lastName" placeholder="Last Name">
					  </div>
					  <div class="form-group">
					    <input type="email" class="form-control" id="email" placeholder="Email">
					  </div>
					  <div class="form-group">
					    <input type="message" class="form-control" id="message" placeholder="Message">
					  </div>
					  <button type="submit" id="bottomButton" class="btn btn-default">Submit</button>
				</form>
			</div>

		</section>

		 <!-- Designed and coded by Jess Waite -->
		


		<!-- cdn's and other such links -->
		
		<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
		<script src="http://codeorigin.jquery.com/jquery-2.0.3.min.js"></script>
		<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
		<script type="text/javascript" src="../javascripts/ImJessW.js"></script>
	</body>
</html>